::-moz-selection { 
	background-color: blue;
	color: white; 
	text-shadow: none; 
}  	
::selection { 
	background-color: blue;
	color: white; 
	text-shadow: none; 
}

#dl-menu .dl-submenu li a {
    padding: 10px 20px;
}

.figure {
    text-align: center;
    border: 1px solid #cccccc;
    margin: 10px 0;
}

.figure img {
    box-shadow: 0 0 3px;
}

.figure p:nth-child(2) {
    background-color: #cccccc;
    margin: 0;
}

.figure .figure-number {
    font-style: italic;
}