// Change the colors of the selected text.
::-moz-selection { 
	background-color: blue;
	color: white; 
	text-shadow: none; 
}  	
::selection { 
	background-color: blue;
	color: white; 
	text-shadow: none; 
}

// Decrease the space between the links in the section About.
#dl-menu .dl-submenu li a {
    padding: 10px 20px;
}

// Improve the display of figures by adding borders, centering, etc.
.figure {
    text-align: center;
    border: 1px solid #eeeeee;
    margin: 20px 0;
}
.figure img {
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #cccccc;
}
.figure p:nth-child(2) {
    background-color: #eeeeee;
    margin: 0;
}
.figure .figure-number {
    font-style: italic;
}

// TOC copied from: http://orgmode.org/worg/
// Inspired by http://jashkenas.github.com/coffee-script
#table-of-contents {
    font-size: 10pt;
    position: fixed;
    right: 0em;
    top: 0em;
    background: white;
    line-height: 12pt;
    text-align: right;
    box-shadow: 0 0 1em #777777;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto;
}
#table-of-contents h2 {
    font-size: 13pt;
    max-width: 9em;
    border: 0;
    font-weight: normal;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
}
#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em;
}
